.btn-add {
    float: right;
    bottom: 20px;
    height: 30px;
    line-height: 17px;
    margin-top: -4px;
    margin-right: -8px;
}

.actionIcon {
    color: #636b6f;
}

.actionIcon:hover {
    color: #3097D1;
}

.actionIcon.first {
    margin-right: 5px;
}

.noPadRight {
    padding-right: 0!important;
}

.deleteBtn {
    height: 36px;
    padding-top: 10px;
}

.invoiceRow:not(:last-child) {
    margin-bottom: 15px;
}

.separator {
    margin-left: 10px;
    margin-right: 10px;
}

#invoice_rows {
    margin-bottom: 15px;
}

.center {
    text-align: center;
}

.saved {
    animation: colorchange 2s; /* animation-name followed by duration in seconds*/
    -webkit-animation: colorchange 2s; /* Chrome and Safari */
}

@keyframes colorchange
{
    50%  {
        background: #d4edda;
        border-color: #c3e6cb;
    }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
    50%  {
        background: #d4edda;
        border-color: #c3e6cb;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1240px;
    }
}