body {
    background: url('/images/pay/1.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'PT Sans Narrow', sans-serif;
}

.paymentBox {
    background: white;
    max-width: 380px;
    margin: 100px auto 0 auto;
    overflow: hidden;

    border-radius: 8px;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,.2);
}

.topBar {
    background: black;
    box-sizing: border-box;
    padding: 20px;
}

.topBar h1 {
    color: white;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;
    font-size: 24px;
}


.topBar h2 {
    color: #afafaf;
    font-size: 16px;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}

.right {
    float: right;
}

.content {
    box-sizing: border-box;
    padding: 20px;
    color: #6d737c;
    font-size: 14px;
}

.payButton {
    background: #0195ff;
    display: block;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}